# project settings
folder_path=/Users/claire/repo/github/bilingual_book_maker/test_books
book_name=test_books/the_little_prince.txt
language=zh-hans

# azure 
azure_api_base=
azure_deployment_id=
openai_key=
api_url=